.menu-burger-container{
    display: none;
    height: 36px;
    width: 36px;
    align-items: center;
    position: relative;
}

.menu-burger::before,
.menu-burger,
.menu-burger::after{
    display: block;
    height: 4px;
    width: 36px;
    background-color:#fff;
    position: absolute;
    content: "";
    transition: all 1s ease;
}

.menu-burger::before {
    transform: translateY(-16px);
}

.menu-burger::after {
    transform: translateY(16px);
}

.menu-burger-container.show .menu-burger{
    background-color: transparent;
}

.menu-burger-container.show .menu-burger::before{
    transform: rotate(45deg);
}    
.menu-burger-container.show .menu-burger::after{
    transform: rotate(-45deg);
}

@media (max-width:768px) {
    .menu-burger-container {
        display: flex;
        z-index: 1;
    }
}