body {
    height: 130vh;
    background:
                url(../img/backgroundgaleria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
    background-color: rgba(0, 0, 0, 0.808);
    overflow: hidden;
}

.img-items{
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    background-color:rgb(27, 25, 25);
    gap: 20px;
}

main{
    display: flex;
    justify-content: center;
    margin: 230px;
}
